.thumbnail img{
  display: block;
  width: 100%;
  max-height: auto;
}

.price{
  font-weight: bold;
  font-size: 16px;
}

.product-cart-btn {
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 2rem;
  text-align: center;
  padding: 0;
}

img.cart{
  display: inline-block;
  max-width: 100%;
}